body {
  width: 500px;
  background-color: #1a1d29;
  color: #d5d7db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}



legend {
  color: #3071a9;
}

a {
  color: #d5d7db;
}

#messages {
  opacity: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.append input[type=range] + input[type=text] {
  border-radius: 0px;
  margin-left: -6px;
}

input[type="range"] {
  vertical-align: top;
  border-radius: 4px 0 0 4px;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  margin-top: -10px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ff640a;
}

.footer {
  font-size: 75%;
  padding-bottom: 5px;
  display: inline;
  color: #818181;
}

.checkBackground {
  background-color: #1a1d29 !important;
}

#results {
  overflow-y: scroll;
  max-height: 230px;
  float: left;
}

#results::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
#results::-webkit-scrollbar-thumb {
  background: #d5d7db;
}

.entry {
  font-size: 15px;
}

#genreSearch:focus {
  color: #d5d7db;
}

.lastField {
  padding-bottom: 10px;
}

#genreSearch::placeholder {
  color: #e4e4e4
}

#genreSearch {
  float: left;
  width: 100%;
  background-color: #1a1d29;
  border: 1px solid #d5d7db;
  padding: 5px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  color: #d5d7db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contrast {
  cursor: pointer;
}


.high-contrast {
  background-color: white !important;
  color: #d5d7db;
}

.high-contrast a {
  color: #d5d7db !important;
}


.high-contrast #genreSearch {
  float: left;
  width: 100%;
  background-color: white;
  border: 1px solid #d5d7db;
  padding: 5px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  color: #d5d7db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.high-contrast #genreSearch::placeholder {
  color: #464646;
}